apiVersion: kubeflow.org/v2beta1
kind: MPIJob
metadata:
  name: train-esm2-mpi-ddp
spec:
  runPolicy:
    cleanPodPolicy: Running
    backoffLimit: 20
  slotsPerWorker: ${GPU_PER_NODE}
  mpiImplementation: "OpenMPI"
  mpiReplicaSpecs:
    Launcher:
      replicas: 1
      template:
        spec:
          restartPolicy: OnFailure
          containers:
          - image: ${REGISTRY}${DOCKER_IMAGE_NAME}:${TAG}
            name: train-esm2-mpi-ddp-launcher
            imagePullPolicy: Always
            env:
             - name: NCCL_DEBUG
               value: INFO
            command:
            - /opt/amazon/openmpi/bin/mpirun
            - --allow-run-as-root
            - --tag-output
            - -npernode
            - "${GPU_PER_NODE}"
            - -np
            - "${NUM_NODES}"
            - -bind-to
            - none
            - -map-by
            - slot
            - -x
            - NCCL_DEBUG
            #- -x
            #- FI_PROVIDER=${FI_PROVIDER}
            #- -x
            #- FI_EFA_USE_DEVICE_RDMA=${FI_EFA_USE_DEVICE_RDMA}
            #- -x
            #- FI_EFA_FORK_SAFE=${FI_EFA_FORK_SAFE}
            #- -x
            #- NCCL_SHM_DISABLE=${NCCL_SHM_DISABLE}
            - --mca
            - pml
            - ^cm,ucx
            #- --mca
            #- plm_rsh_agent
            #- ssh
            - --mca
            - btl
            - tcp,self
            - --mca
            - btl_tcp_if_exclude
            - lo,docker0,veth_def_agent
            - /usr/bin/python3 
            - /workspace/bionemo2/sub-packages/bionemo-esm2/src/bionemo/esm2/scripts/train_esm2.py 
            - --train-cluster-path
            - ${DATA_DIR}/2024_03_sanity/train_clusters_sanity.parquet 
            - --train-database-path 
            - ${DATA_DIR}/2024_03_sanity/train_sanity.db 
            - --valid-cluster-path
            - ${DATA_DIR}/2024_03_sanity/valid_clusters.parquet 
            - --valid-database-path
            - ${DATA_DIR}/2024_03_sanity/validation.db 
            - --precision 
            - "bf16-mixed"
            - --num-gpus 
            - "$GPU_PER_NODE" 
            - --num-nodes
            - "$NUM_NODES"
            - --num-steps
            - "100" 
            - --val-check-interval
            - "25" 
            - --max-seq-length
            - "1024"
            - --limit-val-batches
            - "2"
            - --micro-batch-size
            - "2"
            - --num-layers
            - "33"
            - --hidden-size
            - "1280"
            - --num-attention-head
            - "20"
            - --ffn-hidden-size
            - "5120"
            - --tensor-model-parallel-size
            - "1"
            - --create-tensorboard-logger
            - --result-dir
            - ${OUTPUT_DIR}
    Worker:
      replicas: ${NUM_NODES}
      template:
        spec:
          #nodeSelector:
          #  node.kubernetes.io/instance-type: "${INSTANCE_TYPE}"
          containers:
          - image: ${REGISTRY}${DOCKER_IMAGE_NAME}:${TAG}
            name: esm2-worker
            imagePullPolicy: Always
            volumeMounts:
            - name: shmem
              mountPath: /dev/shm
            resources:
              limits:
                nvidia.com/gpu: ${GPU_PER_NODE}
                #hugepages-2Mi: ${HUGEPAGES_2MI}
                vpc.amazonaws.com/efa: ${EFA_PER_NODE}
                #memory: ${MEMORY}
              requests:
                nvidia.com/gpu: ${GPU_PER_NODE}
                #hugepages-2Mi: ${HUGEPAGES_2MI}
                vpc.amazonaws.com/efa: ${EFA_PER_NODE}
                #memory: ${MEMORY}
          volumes:
          - name: shmem
            hostPath:
              path: /dev/shm
